<style>
body {
  background: #A9A9A9;
  color: #444;
}
h1,h2,h3,h4,h5,h6 {
color: #444;
line-height: 1;
}
img{
  width: 200px;
  height: 100px;
        margin: 10px;
}
#header{
background-color: #A9A9A9;
padding: 32px 32px 32px 46px;
}

#footer{
  background-color: #A9A9A9;
  padding: 32px 32px 32px 46px;
}
ul a{
color: white;
text-decoration: none;
}
li{
display: inline-block;
height: 22px;
width: 100px;
padding: 12px;
text-align: center;
color: white;
border-left: 2px solid green;
border-right: 1px solid green;
background-color: olive;
}
li:hover{
background-color: lightgreen;
border-style: none;
}
#class1 {
  background-color: #7D5309;
  width: 400px;
  text-align: center;
    margin: 10px
}
table{
border-collapse: collapse;
width: 800px;
text-align: center;
}
td, th{
padding: 10px 5px;
}
input[type="text"], input[type="email"], textarea, select, button
{display: block;margin: 15px 0px;
  width: 400px;
  box-sizing: border-box;}
  button:active{
    background-color: darkgreen;
    color: white;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px blue;}
</style>
